<%= simple_form_for(@activity) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :user %>
    <%= f.input :type %>
    <%= f.association :project %>
    <%= f.input :impact %>
    <%= f.input :effort %>
    <%= f.input :profitability %>
    <%= f.input :reach %>
    <%= f.input :total_hours %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
